html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

#gallery {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.gallery-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.gallery-item:not(:last-child) {
  margin-right: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: -10px;
}
#boxes div {
  margin: 10px;
}
